# https://github.com/brandtbucher/travis-python-matrix

# CPython 3.7.3 / CPython 3.6.8
# Ubuntu 16.04 (Xenial Xerus) / Windows 10 / macOS 10.14 (Mojave)

# Builds the following wheels:
# - cp36-cp36m-linux-x86-64.whl -> cp36-cp36m-manylinux1-x86-64.whl
# - cp37-cp37m-linux-x86-64.whl -> cp37-cp37m-manylinux1-x86-64.whl
# - cp36-cp36m-win_amd64.whl
# - cp37-cp37m-win_amd64.whl
# - cp36-cp36m-win32.whl
# - cp37-cp37m-win32.whl
# - cp36-cp36m-macosx_10_9_x86_64.whl -> cp36-cp36m-macosx_10_6_intel.whl
# - cp37-cp37m-macosx_10_9_x86_64.whl -> cp37-cp37m-macosx_10_6_intel.whl

matrix:

  include:

    - name: CPython 3.7.3 on Ubuntu 16.04 (Xenial Xerus)
      language: python
      os: linux
      dist: xenial
      python: 3.7.3
      before_install:
        - sudo apt-get install -y patchelf

    - name: CPython 3.6.8 on Ubuntu 16.04 (Xenial Xerus)
      language: python
      os: linux
      dist: xenial
      python: 3.6.8
      before_install:
        - sudo apt-get install -y patchelf

    - name: CPython 3.7.3 on Windows 10 (64-bit)
      language: shell
      os: windows
      before_install:
        - export PATH=/c/Python37:/c/Python37/Scripts:$PATH
        - choco install python --version 3.7.3

    - name: CPython 3.6.8 on Windows 10 (64-bit)
      language: shell
      os: windows
      before_install:
        - export PATH=/c/Python36:/c/Python36/Scripts:$PATH
        - choco install python --version 3.6.8

    - name: CPython 3.7.3 on Windows 10 (32-bit)
      language: shell
      os: windows
      before_install:
        - export PATH=/c/Python37:/c/Python37/Scripts:$PATH
        - choco install python --version 3.7.3 --x86

    - name: CPython 3.6.8 on Windows 10 (32-bit)
      language: shell
      os: windows
      before_install:
        - export PATH=/c/Python36:/c/Python36/Scripts:$PATH
        - choco install python --version 3.6.8 --x86

    - name: CPython 3.7.3 on macOS 10.14 (Mojave)
      language: shell
      os: osx
      osx_image: xcode10.2
      before_install:
        # Build using the ancient 10.9 SDK (Anaconda/Python.org compatibility):
        - export MACOSX_DEPLOYMENT_TARGET=10.9
        # Includes are broken on Mojave, so fix them here:
        - export CFLAGS="-I$(xcrun --show-sdk-path)/usr/include"
        - export PATH=/Users/travis/.pyenv/shims:$PATH PYENV_VERSION=3.7.3
        - pyenv install $PYENV_VERSION

    - name: CPython 3.6.8 on macOS 10.14 (Mojave)
      language: shell
      os: osx
      osx_image: xcode10.2
      before_install:
        # Build using the ancient 10.9 SDK (Anaconda/Python.org compatibility):
        - export MACOSX_DEPLOYMENT_TARGET=10.9
        # Includes are broken on Mojave, so fix them here:
        - export CFLAGS="-I$(xcrun --show-sdk-path)/usr/include"
        - export PATH=/Users/travis/.pyenv/shims:$PATH PYENV_VERSION=3.6.8
        - pyenv install $PYENV_VERSION

# Change anything below to suit your CI needs.
# Python and pip exectuables are just named "python" and "pip" on all platforms!

env:
  global:
    - TWINE_USERNAME=ariza
    # XXX Below (from inside the SF repo):
    # $ sudo apt-get install ruby-dev
    # $ sudo gem install travis
    # $ travis encrypt 'TWINE_PASSWORD=<password>'
    - secure: S+q2hvrhpWGVvrfwtIT6CRWZ2Zde6sYPHKvvIuu4VRuaS7Z+TXOfNNOPyk9A+Vw0DjdUz2gTj7XtP73mLXyBuAI2KYSxCEc1/g072eF8w82QQcKteRvwc2oNLYlVdxUBS0GCiUWNaDHrQppUTH9+m10w5AXIVZMW466MBeBqjg9r8Sh4brzpDAm7Ruf4mggX48IuE4y5bg7L04dh27ucOOFCLBFAti2GqnWmW18cmEyvdinJSSjljMzBTImj097oPUthxlQ2ci2GXqt4jUAn4RVgCLEBcy2qyT29h4G19E+6Rpj4JUrgckPqRfqRhSxqxUUIJOuTFdifV759lIYkrcO1teP3cqpg+yXTjHC5m09K3m+tRll8A5tDqenOfc8BwdPF37jUcyxj9qRD9aQBR5HRdaO2faMORxqGgNZrEFlFkT1Vm99aT5Pc2vOSgR8lZoFOHZr4xNvVtNw0dX07+lnHdyVhJD9yVChU6kFdMTd/ZT8g4lmVb8FTkNOEBn2GuvvrXioT7MJq32eYYDVLlhzLv6Too9et9hNnj+1joy3AG70xFxSAK8qUvzbRH0TD5am4AKKkJ0w9avjf/TtUq4sQ4GQegoYQvohUesUytTaqwhmLpHTShg0yi6gJEHq7lAPLyXFOwrdqAoRaXgt8uDpou9yYz582TPHXXJ0yqaA=

# Needed for Windows. Remove once Travis fixes this (or pypi deploy works):
# https://travis-ci.community/t/current-known-issues-please-read-this-before-posting-a-new-topic/264/10
# Not a dealbreaker, since secrets are disabled on forks/PRs. Just nice to have.
filter_secrets: false

install:
  - pip install -r requirements-test.txt
  # We need to pin wheel (ha) for auditwheel to work properly:
  - pip install auditwheel codecov pytest-cov setuptools twine wheel==0.31.1
  # Build and test wheels and source distributions:
  - python setup.py develop sdist bdist_wheel
  - python fix_wheels.py
  - pip install --force-reinstall --no-cache-dir .
  - pip install --force-reinstall --no-cache-dir dist/*.tar.gz
  - pip install --force-reinstall --no-cache-dir dist/*.whl

script:
  - pytest --cov=static_frame

after_success:
  - codecov

deploy:
  # The "pypi" provider breaks on Windows right now, so we need to use "script":
  # https://github.com/travis-ci/dpl/issues/955
  provider: script
  skip_cleanup: true
  script: twine upload --skip-existing dist/*
  on:
    repo: InvestmentSystems/static-frame
    branch: master
    # tags: true  # XXX?
