# https://github.com/brandtbucher/travis-python-matrix

# CPython 3.7.3 / CPython 3.6.8
# Ubuntu 16.04 (Xenial Xerus) / Windows 10 / macOS 10.14 (Mojave)

# Builds the following wheels:
# - cp36-cp36m-linux-x86-64.whl -> cp36-cp36m-manylinux1-x86-64.whl
# - cp37-cp37m-linux-x86-64.whl -> cp37-cp37m-manylinux1-x86-64.whl
# - cp36-cp36m-win_amd64.whl
# - cp37-cp37m-win_amd64.whl
# - cp36-cp36m-win32.whl
# - cp37-cp37m-win32.whl
# - cp36-cp36m-macosx_10_9_x86_64.whl -> cp36-cp36m-macosx_10_6_intel.whl
# - cp37-cp37m-macosx_10_9_x86_64.whl -> cp37-cp37m-macosx_10_6_intel.whl


matrix:

  include:

    - name: CPython 3.7.3 on Ubuntu 16.04 (Xenial Xerus)
      language: python
      os: linux
      dist: xenial
      python: 3.7.3
      before_install:
        - sudo apt-get install -y patchelf

    - name: CPython 3.6.8 on Ubuntu 16.04 (Xenial Xerus)
      language: python
      os: linux
      dist: xenial
      python: 3.6.8
      before_install:
        - sudo apt-get install -y patchelf

    - name: CPython 3.7.3 on Windows 10 (64-bit)
      language: shell
      os: windows
      before_install:
        - export PATH=/c/Python37:/c/Python37/Scripts:$PATH
        - choco install python --version 3.7.3

    - name: CPython 3.6.8 on Windows 10 (64-bit)
      language: shell
      os: windows
      before_install:
        - export PATH=/c/Python36:/c/Python36/Scripts:$PATH
        - choco install python --version 3.6.8

    - name: CPython 3.7.3 on Windows 10 (32-bit)
      language: shell
      os: windows
      before_install:
        - export PATH=/c/Python37:/c/Python37/Scripts:$PATH
        - choco install python --version 3.7.3 --x86

    - name: CPython 3.6.8 on Windows 10 (32-bit)
      language: shell
      os: windows
      before_install:
        - export PATH=/c/Python36:/c/Python36/Scripts:$PATH
        - choco install python --version 3.6.8 --x86

    - name: CPython 3.7.3 on macOS 10.14 (Mojave)
      language: shell
      os: osx
      osx_image: xcode10.2
      before_install:
        # Build using the ancient 10.9 SDK (Anaconda/Python.org compatibility):
        - export MACOSX_DEPLOYMENT_TARGET=10.9
        # Includes are broken on Mojave, so fix them here:
        - export CFLAGS="-I$(xcrun --show-sdk-path)/usr/include"
        - export PATH=/Users/travis/.pyenv/shims:$PATH PYENV_VERSION=3.7.3
        - pyenv install $PYENV_VERSION

    - name: CPython 3.6.8 on macOS 10.14 (Mojave)
      language: shell
      os: osx
      osx_image: xcode10.2
      before_install:
        # Build using the ancient 10.9 SDK (Anaconda/Python.org compatibility):
        - export MACOSX_DEPLOYMENT_TARGET=10.9
        # Includes are broken on Mojave, so fix them here:
        - export CFLAGS="-I$(xcrun --show-sdk-path)/usr/include"
        - export PATH=/Users/travis/.pyenv/shims:$PATH PYENV_VERSION=3.6.8
        - pyenv install $PYENV_VERSION

# Change anything below to suit your CI needs.
# Python and pip exectuables are just named "python" and "pip" on all platforms!

install:
  - pip install -r requirements-test.txt
  - pip install auditwheel codecov pytest-cov setuptools wheel==0.31.1
  # Build and test wheels and source distributions:
  - python setup.py develop sdist bdist_wheel
  - python wheels.py
  - pip install --force-reinstall .
  - pip install --force-reinstall dist/*.tar.gz
  - pip install --force-reinstall dist/*.whl

script:
  - pytest --cov=static_frame

after_success:
  - codecov

deploy:
  server: https://test.pypi.org/legacy/  # XXX
  username: brandtbucher
  password:
    secure: CTCE49q/EuvPkWBSfVfN0Kl5mvT/CNpntDAGSBnl2Nd+gFVrpM0Gmc5BkzPNMgjJE9pP64tJeiFkcpzq4EH/l5TgmKiAZPRDTIeuKLFPnrax1Li9uOgiWfzwSS7xc5kI8qQ4qrPI7g1EG1g6TWXgmzG7FHpd7oVtUoL3uXHCDqfSHQc70J4hYJqiUYmZ6AsISYR1s98zmYo31f6xZnHRGhOljkWEFzlFxLMpo6FwP30QCQn0qHtLVss4dOuSDnqRhA6KJMMRfDtLZDLkG/vYLevLzCC9bV+18ODxj3ivQAx9FeYBkdbSFB+yXKH2i5gSXj6gAVs6oJPsBhp+Zzu+0uwSarRQSGtO6gt0Gs9UY5tYdk8JlGuCiHm0BvctVisJMclW/4vWp/7MBa0F0oehTmje2EI81xeP3iM3KFaVFJFfZPQvEjGUHmTevaMZDwen43nJWm9OTd8fLCYfOsXw73FWgq1/urTeVa3+TJqzA0df/RaqL2KLr2zzGsITr2G5WMOfxkgbAq+qEHV+lkHJVQJtW1ddbSb0Jrkta+6/KvJncyfXnYgfWfMjrkTzSAe94IsdINOWgDYr1mRH6E94w3OnmGOnI88ztZOu+0uyOT9I0yKbTcjo9AGKbFmy9cjp2lO3NOD+RLef7l5TYt6ck0/PVjWL8jcFAzYVT68cxZA=
  distributions: sdist
  skip_existing: true
  skip_cleanup: true
  on:
    repo: InvestmentSystems/static-frame
    branch: c  # XXX master
    # tags: true  # XXX
