numpy==2.3.3
arraykit==1.2.0
typing-extensions>=4.12.0

pytest==8.4.2
pytest-cov==7.0.0
hypothesis==6.92.1
scipy==1.16.2
nox==2025.10.16
ipython==9.6.0
psycopg[binary]==3.2.10
mysql-connector-python==9.4.0

pandas==2.3.3
xlsxwriter==3.2.9
openpyxl==3.1.5
xarray==2025.10.1
# pyarrow==21.0.0 # not yet python3.14 compat
frame-fixtures==1.1.0
