numpy==1.16.5
pytest==3.8.0
pytest-cov>=2.6.0
pyinstrument==3.1.0
hypothesis==4.26.3
mypy==0.711
codecov>=2.0.15
pylint==2.4.4
Pygments==2.2.0
ipython==7.4.0
invoke==1.4.0
sphinx==2.2.0
sphinx-jinja==0.3.0
sphinx_rtd_theme>=0.4.2
sphinxcontrib-napoleon==0.7.0
pandas==0.23.4
xlsxwriter==1.1.2
openpyxl==3.0.0
xarray==0.13.0
tables==3.5.1
pyarrow==0.15.1
