numpy==2.0.0
arraymap==0.3.0
arraykit==0.8.0
typing-extensions>=4.12.0

pytest==7.4.3
pytest-cov==4.0.0
hypothesis==6.92.1
scipy==1.14.0
invoke==2.2.0
ipython==8.14.0

pandas==2.2.2
duckdb==1.0.0
xlsxwriter==3.1.9
openpyxl==3.1.2
xarray==2024.6.0
tables==3.9.2
pyarrow==16.1.0
msgpack==1.0.7
msgpack-numpy==0.4.8
visidata==2.11
frame-fixtures==1.1.0


