numpy==1.23.4
automap==0.6.2
arraykit==0.2.3

pytest==7.1.2
pytest-cov==4.0.0
hypothesis==6.40.0
scipy==1.9.3
invoke==1.4.0

pandas==1.5.1
xlsxwriter==1.1.2
openpyxl==3.0.9
xarray==0.21.1
# tables==3.7.0 # NOTE: does not yet work for Python 3.11
git+https://github.com/PyTables/PyTables.git@v3.7.0
pyarrow==10.0.0
msgpack==1.0.3
msgpack-numpy==0.4.7.1
frame-fixtures==0.2.1
visidata==2.4

