numpy==1.23.5
arraymap==0.3.0
arraykit==0.8.2
typing-extensions>=4.12.0

pytest==8.3.2
pytest-cov==5.0.0
hypothesis==6.92.1
scipy==1.10.0
invoke==2.2.0
ipython==8.14.0

pandas==1.1.5
duckdb==1.0.0
xlsxwriter==1.1.2
openpyxl==3.0.9
xarray==0.13.0
tables==3.9.1
pyarrow==3.0.0
msgpack==1.0.4
msgpack-numpy==0.4.8
visidata==2.4
frame-fixtures==1.1.0

