numpy==1.25.2
arraymap==0.2.2
arraykit==0.6.1
typing-extensions>=4.10.0

pytest==7.1.2
pytest-cov==4.0.0
hypothesis==6.92.1
scipy==1.10.0
invoke==2.2.0
ipython==8.14.0

pandas==2.0.3
xlsxwriter==3.1.9
openpyxl==3.1.2
xarray==0.21.1
tables==3.9.1
pyarrow==14.0.1
msgpack==1.0.4
msgpack-numpy==0.4.8
visidata==2.11
frame-fixtures==0.2.1

mypy==1.10.0
pyright==1.1.361
pylint==2.17.5
isort==5.12.0
memray==1.3.1 # only linux
pyinstrument==3.4.1
gprof2dot==2021.2.21
line-profiler==4.0.3
sphinx==7.2.6
sphinx-jinja==2.0.2
sphinx_rtd_theme==1.3.0
wheel==0.42.0
