numpy==1.21.0
automap==0.4.8
arraykit==0.1.8

pytest==3.8.0
pytest-cov==2.6.0
pyinstrument==3.4.1
hypothesis==4.26.3
scipy==1.5.4
mypy==0.800
codecov>=2.0.15
pylint==2.4.4
Pygments==2.7.4
gprof2dot==2021.2.21
line-profiler==3.2.1
ipython==7.4.0
invoke==1.4.0
sphinx==3.5.0
sphinx-jinja==1.1.1
sphinx_rtd_theme>=0.5.1
sphinxcontrib-napoleon==0.7.0
pandas==1.3.4
xlsxwriter==1.1.2
openpyxl==3.0.9
xarray==0.13.0
tables==3.6.1
pyarrow==3.0.0
msgpack==1.0.0
msgpack-numpy==0.4.7
frame-fixtures==0.2.1
visidata==2.4

