numpy==1.18.5
automap==0.6.1
arraykit==0.2.3

pytest==7.1.2
pytest-cov==4.0.0
hypothesis==6.40.0
scipy==1.5.4
invoke==1.4.0

pandas==0.24.2 # keep pre 1 support
xlsxwriter==1.1.2
openpyxl==3.0.9
xarray==0.13.0
tables==3.6.1
pyarrow==0.17.0
msgpack==1.0.0
msgpack-numpy==0.4.7
frame-fixtures==0.2.1
visidata==2.4

