numpy==2.3.3
arraykit==1.2.0
typing-extensions>=4.12.0

pytest==8.4.2
pytest-cov==7.0.0
hypothesis==6.92.1
scipy==1.16.2
nox==2025.10.16
ipython==9.6.0
psycopg[binary]==3.2.10
mysql-connector-python==9.4.0
slotscheck==0.19.1

pandas==2.3.3
xlsxwriter==3.2.9
openpyxl==3.1.5
xarray==2025.10.1
pyarrow==22.0.0
frame-fixtures==1.1.0

mypy==1.18.2
pyright==1.1.361
memray==1.18.0
pyinstrument==5.1.1
gprof2dot==2025.4.14
line-profiler==5.0.0
ruff==0.14.0
sphinx==7.2.6
sphinx-jinja==2.0.2
pydata-sphinx-theme==0.16.1
wheel==0.46.2
setuptools==80.9.0
visidata==3.3

