Pygments==2.2.0
codecov>=2.0.15
hypothesis==4.26.3
ipython==7.4.0
mypy==0.711
numpy==1.15.4
pandas==0.23.4
pylint==2.3.1
pytest==3.8.0
pytest-cov>=2.6.0
sphinx==2.2.0
sphinx-jinja==0.3.0
sphinx_rtd_theme>=0.4.2
sphinxcontrib-napoleon==0.7.0
xlsxwriter==1.1.2
openpyxl==3.0.0