numpy==1.21.6
arraymap==0.2.2
arraykit==0.5.1
typing-extensions>=4.10.0

pytest==7.1.2
pytest-cov==4.0.0
hypothesis==6.92.1
scipy==1.10.0
invoke==2.0.0
ipython==7.16.3

pandas==0.25.3 # keep pre 1 support
xlsxwriter==1.1.2
openpyxl==3.0.9
xarray==0.13.0
tables==3.6.1
pyarrow==0.17.0
msgpack==1.0.0
msgpack-numpy==0.4.7
visidata==2.4
frame-fixtures==0.2.1

