{# api_detail /////////////////////////////////////////////////////////////// #}
{% macro api_detail(name, ig, ig_tag, frame_items, examples_defined, toc) -%}

{# `name`: str class name, `ig`: full interface group str, `ig_tag`: linkable interface group str, `frame_items`: sub-frame for group #}


.. _api-detail-{{ name }}-{{ ig_tag }}:

Detail: {{ name }}: {{ ig }}
--------------------------------------------------------------------------------

:ref:`api-overview-{{ name }}-{{ ig_tag }}`

{% for signature, row in frame_items.iter_tuple_items(axis=1) -%}

{# anchor for linking from overview #}
.. _api-sig-{{ name }}-{{ row.sna_label }}:


{% if row.use_signature and signature.startswith('[') %}

.. py:method:: {{ name }}{{ signature }}  {# NOTE: no dot! #}

{% elif row.use_signature and signature.startswith('interface') %}

.. py:attribute:: {{ name }}.{{ signature }}

    {{ row.doc }}

{% elif row.use_signature and not row.is_attr %}

.. py:method:: {{ name }}.{{ signature }}

{% elif row.use_signature and row.is_attr %}

.. py:attribute:: {{ name }}.{{ signature }}
    :noindex: {# NOTE: collides with iter_*, via_* usage below #}

{% elif ig == 'Attribute' or signature == 'values' or row.is_attr %}

.. autoattribute:: static_frame.{{ row.reference }}

{% else %}

.. automethod:: static_frame.{{ row.reference }}

{% endif %}


{# if a signature has been used, then we need to augment with doc with reference #}
{% if row.use_signature %}

    {% if row.reference and row.is_attr %}

    .. autoattribute:: static_frame.{{ row.reference }}
        :noindex:

    {% elif row.reference %}

    .. automethod:: static_frame.{{ row.reference }}
        :noindex:

    {% endif %}

{% endif %}


{# if delegate_reference is defined, always include it #}
{% if row.delegate_reference %}

    {% if row.delegate_is_attr %}

    .. autoattribute:: static_frame.{{ row.delegate_reference }}
        :noindex:

    {% else %}

    .. automethod:: static_frame.{{ row.delegate_reference }}
        :noindex:

    {% endif %}

{% endif %}


{# example ////////////////////////////////////////////////////////////////// #}

{% if name + '-' + row.signature_no_args in examples_defined %}

    .. literalinclude:: ../examples.txt
       :language: python
       :start-after: start_{{ name }}-{{ row.signature_no_args }}
       :end-before: end_{{ name }}-{{ row.signature_no_args }}

{% endif %}

{% endfor %}

:ref:`{{ name }}<api-detail-{{ name }}>`: {% for ig, ig_tag in toc[name] %}:ref:`{{ ig }}<api-detail-{{ name }}-{{ ig_tag }}>`{{ " | " if not loop.last }}{% endfor %}

{%- endmacro %}




{# api_overview ///////////////////////////////////////////////////////////// #}
{% macro api_overview(name, ig, ig_tag, frame_items, examples_defined, toc) -%}

{# `name`: str class name, `ig`: full interface group str, `ig_tag`: linkable interface group str, `frame_items`: sub-frame for group #}

.. _api-overview-{{ name }}-{{ ig_tag }}:

Overview: {{ name }}: {{ ig }}
--------------------------------------------------------------------------------

:ref:`api-detail-{{ name }}-{{ ig_tag }}`

.. csv-table::
    :header-rows: 0

    {% for signature, row in frame_items.iter_tuple_items(axis=1) -%}
        {% if signature.startswith('[') -%}
        :ref:`Detail<api-sig-{{ name }}-{{ row.sna_label }}>`, ":obj:`{{name}}{{signature}}`", "{{row.doc}}"
        {% else -%}
        :ref:`Detail<api-sig-{{ name }}-{{ row.sna_label }}>`, ":obj:`{{name}}.{{signature}}`", "{{row.doc}}"
        {% endif -%}
    {% endfor %}

:ref:`{{ name }}<api-overview-{{ name }}>`: {% for ig, ig_tag in toc[name] %}:ref:`{{ ig }}<api-overview-{{ name }}-{{ ig_tag }}>`{{ " | " if not loop.last }}{% endfor %}

{%- endmacro %}




{# api_detail_toc /////////////////////////////////////////////////////////////// #}
{% macro api_detail_toc(name, toc, interface_group_doc) -%}

.. _api-detail-{{ name }}:

Detail: {{ name }}
================================================================================

:ref:`api-overview-{{ name }}`


.. autoclass:: static_frame.{{ name }}


{% for ig, ig_tag in toc[name] -%}

* :ref:`{{ ig }}<api-detail-{{ name }}-{{ ig_tag }}>`: {{ interface_group_doc[ig] }}

{% endfor %}


:ref:`{{ name }}<api-detail-{{ name }}>`: {% for ig, ig_tag in toc[name] %}:ref:`{{ ig }}<api-detail-{{ name }}-{{ ig_tag }}>`{{ " | " if not loop.last }}{% endfor %}

{%- endmacro %}




{# api_overview_toc /////////////////////////////////////////////////////////////// #}
{% macro api_overview_toc(name, toc, interface_group_doc) -%}

.. _api-overview-{{ name }}:

Overview: {{ name }}
================================================================================

:ref:`api-detail-{{ name }}`


.. csv-table::
    :header-rows: 0

    {% for ig, ig_tag in toc[name] -%}
        :ref:`{{ ig }}<api-overview-{{ name }}-{{ ig_tag }}>`, "{{ interface_group_doc[ig] }}"
    {% endfor %}


:ref:`{{ name }}<api-overview-{{ name }}>`: {% for ig, ig_tag in toc[name] %}:ref:`{{ ig }}<api-overview-{{ name }}-{{ ig_tag }}>`{{ " | " if not loop.last }}{% endfor %}

{%- endmacro %}
